$azul: #3c4ffd;
$rojo: #ff333a;
$gris: #10111e;
$amarillo: #f2cb41;
$verde: #41F271;

$azul-unerg: #262d88;

$border-radius: 10px;
$box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
$border-color: #fff;
$text-color: #fff;
$border: 1px solid #fff;