.nav-title-simple {
  @mixin effect-text() {
    line-height: 1.5;
    letter-spacing: 2px;
    text-transform: uppercase;
    vertical-align: unset;
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    background-image: linear-gradient(
      97.89deg,
      rgba($color-secondary, 1) 70.67%,
      rgba(117, 122, 140, 0) 108.55%
    );
    display: inline-block;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    z-index: 1;
    opacity: 1;
    max-width: 100%;
    margin: 0px auto;
  }

  @include effect-text;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 10vh;

  h2 {
    @include effect-text;
    width: 100%;

    text-align: center;

    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
}
