.container-logo-user {
  @include center-flex-xy;

  .container-menu-tooltip {
    @include center-flex-xy;
    width: 80px;

    .logo {
      @include center-flex-xy;
      //margin-left: 20px;
    }
  }
  img {
    @include cuadrado(40px);
    border: 2px solid $color-secondary;
    border-radius: 50%;
  }
}
