.simple-db {
  display: flex;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
  background-color: #f4f7fe;

 /*  * {
    border: 1px solid red;
  } */

  .simple-aside {
    max-width: 250px;
    min-width: 250px;
    height: 100vh;
  }

  main {
    padding: 0;
  }

  .container-simple {
    width: 100%;
    
  }
}
