.simple-db {
  display: flex;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
  background-color: #f4f7fe;
  background-color: $color-quaternary;

  * {
    transition: $transition;
  }

  &.aside-active {
    .simple-aside {
      left: -250px;
    }

    .container-simple {
      padding-left: 0;
    }
  }
  .simple-aside {
    max-width: 250px;
    min-width: 250px;
    height: 100vh;
  }

  main {
    padding: 0;
  }

  .container-simple {
    width: 100%;
    padding-left: 250px;
  }

  .closed-nav-simple {
    @include cuadrado(60px);
    // @include center-flex-xy;
    background-color: $color-quaternary;
    z-index: 1000;
    position: absolute;
    top: 70px;

    right: -60px;
    border-radius: 0 0 30px 0;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    overflow: hidden;

    button {
      // @include cuadrado(20px);
      @include cuadrado(40px);
      @include center-flex-xy;
      color: $text-color-white;

      svg {
        @include cuadrado(20px);
      }
    }
  }
}
